*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url('https://4kwallpapers.com/images/wallpapers/windows-11-dark-mode-blue-stock-official-3840x2160-5630.jpg');
    backdrop-filter: blur(75px) brightness(40%) saturate(150%);
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    user-select: none;
}
header{
    padding: 10px 15px;
    display: flex;
    gap: 10px;
}
header img{
    width: 30px;
    padding: 4.75px;
    background-color: white;
    border-radius: 5px;
    transform: translateY(-1px);
}
header h2{margin-top: -3px;}
main{
    width: 100%;
    display: flex;
}
nav{
    width: calc(100% - 78.5%);
    transition: all 0.2s;
}
.container{
    display: flex;
    background-color: #27272765;
    width: calc(100% - 22.5%);
    position: absolute;
    height: calc(100% - 60px);
    right: 0;
    transition: all 0.2s;
    border-radius:  5px 0 0 0 ;
    overflow: hidden;
}
#aboutPg{
    padding: 20px 30px;
}
h1{
    letter-spacing: 0.35rem;
    font-weight: 1000;
    opacity: 0.5;
    font-size: 3.1rem;
}
.container h3{
    margin-top: -5px;
    margin-left: 5px;
    color: rgb(96.18225529789925, 205.34710675477982, 255);
}
.container a{
    color: white;
    text-decoration: none;
}
.container #desc{
    margin-top: 2rem;
    width: 95%;
    font-size: 17px;
    line-height: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
}
.container a:hover{text-decoration: underline;}
.container .footer{
    position: absolute;
    bottom: 30px;
    line-height: 1.5rem;
}
hr{
    width: 97.5%;
    opacity: 0.17;
    margin: auto;
}

.navOpt{
    margin: 7.5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.2s;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7.5px;
    border-radius: 5px;
}
.navOpt.menuBtn{
    width: fit-content;
    padding: 10px;
}
.navOpt.menuBtn span{font-size: 22px; transition: all 0.3s; color: white;}
.navOpt.menuBtn:active span{transform: scaleX(0.5);}
.navChips{
    background-color: rgb(96.18225529789925, 205.34710675477982, 255);
    width: 3px;
    height: 10px;
    margin-bottom: -2.5px;
    transform: translateX(-9px);
    margin-right: -6px;
    border-radius: 999px;
    transition: all 0.3s;
}
.navOpt span{font-size: 18px; margin-bottom: -3.5px; color: rgb(69, 196, 255);}
.navOpt img{width: 17px;  margin-bottom: -3.5px;}
.navOpt:hover{    background-color: #27272765;}
.navOpt:active{    background-color: #27272735;}
.navOpt:hover .navChips{height: 13px;}
.navOpt:active .navChips{height: 15px;}
.navOpt.active{ background-color: #4d4d4d40;}
.navOpt.active .navChips{height: 16.5px;}
.navOpt.bottom{position: absolute; bottom: 0; width: calc(100% - 78.5%);}

#dialogPg, #win11Pg, #win10Pg, #win7Pg, #winxpPg, #win95Pg{display: none; width: 100%;}

iframe{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.phoneOps{
    display: none;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 720px) {
    main{display: none;}
    .phoneOps{display: flex;}
}
